# Turso Database Configuration (Cloud LibSQL)
TURSO_DATABASE_URL=libsql://web-quan-ly-link-<your-turso-username>.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOi...

# Cổng chạy ứng dụng (Mặc định: 3005)
PORT=3005
